body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    background-color: #ffffff;
}

.main-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.left-column {
    float: left;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    border-right: 20px solid white;
}

.right-column {
    float: right;
    width: 75%;
    height: 100%;
    box-sizing: border-box;
}

.block {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    color: #000000;
}

.block-1 {
    background-color: #00437a;
    height: calc(100% - 100px);
    overflow-y: auto;
    text-align: left;
}

.block-4 {
    background-color: #0065b8;
    height: 100px;
    padding-top: 40px;
}

.block-2 {
    background-color: #1371be;
    height: 120px;
    padding: 35px 50px;
}

.element-x {
    float: left;
    background: white;
    border: 2px solid #0d47a1;
    padding: 10px 30px;
}

.element-x h1 {
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
}

.block-3 {
    background-color: #ffffff;
    height: calc(100% - 220px);
    overflow-y: auto;
    text-align: left;
}

.block-5 {
    background-color: #011a2f;
    height: 100px;
    padding: 30px 50px;
}

.element-y {
    float: right;
    background: white;
    border: 2px solid #0d47a1;
    padding: 10px 30px;
}

.element-y h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal;
    color: black;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e3f2fd;
    text-decoration: none;
    color: #0d47a1;
    border: 1px solid #64b5f6;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #1976d2;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .left-column, .right-column {
        float: none;
        width: 100%;
        height: auto;
        border: none;
    }
    .main-container {
        height: auto;
        overflow: visible;
    }
    .block-1, .block-3 {
        height: 300px;
    }
}